:host {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
}
.mainForm{
	align-content: center;
}
.text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second{
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}
.colum{
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin-left: 5px;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
}
.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 10px 15px 15px 50px;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background-color: black;
	box-shadow: 0 2px gray;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.btn:active {
	background-color: white;
    color: black;
}
.btn:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}