    <form *ngIf="formRegistr" [formGroup]="formRegistr">
        <h1>ACCOUNT REGISTRATION</h1>
        <div class="text">
            <h4>USER NAME</h4>
            <input type="text" id="login" formControlName="login" required>
        </div>
        <div *ngIf="login?.invalid && (login?.dirty || login?.touched)">
            <div *ngIf="login?.errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="login?.errors?.['minlength']">
                Name must be at least 3 characters long.
            </div>
            <div *ngIf="login?.errors?.['maxlength']">
                The length of the name should be no more than 24 characters.
            </div>
        </div>
        <div class="text">
            <h4>PASSWORD</h4>
            <input type="password" formControlName="password">
        </div>
        <div class="text">
            <h4>CONFIRM PASSWORD</h4>
            <input type="password" formControlName="confirmPassword">
        </div>    
        <div class="text">
            <h4>INITIALS</h4>
            <input type="text" formControlName="initials">
        </div>
        <div class="text">
            <h4>EMAIL</h4>
            <input type="text" formControlName="email">
        </div>   
        <div class="down">
            <button (click)="contrRegistration()" class="btn">Register</button>
            <button (click)="openLogin()">Login</button>
        </div>
    </form>
    
