<div id="main">
    <h1>ACCOUNT REGISTRATION</h1>
    <div class="text">
    <h4>USER NAME</h4>
    <input type="text">
    </div>
    <div class="text">
    <h4>PASSWORD</h4>
    <input type="password">
    </div>
    <div class="text">
    <h4>COFIRM PASSWORD</h4>
    <input type="password">
    </div>    
    <div class="text">
    <h4>INITIALS</h4>
    <input type="text">
    </div>
    <div class="text">
    <h4>EMAIL</h4>
    <input type="text">
    </div>   
    <div class="down">
    <button class="btn">Register</button>
    <button (click)="openLogin()">Login</button>
    </div>
</div>
