 <h1>LIST OF NOTES</h1>
 <table *ngIf="mode === 'DEFAULT'" class="items">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Time</th>
            <th>IsDone</th>
            <th>
                Edit activity
            </th>
            <th>
                Delete activity
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of activities">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.time}}</td>
            <td>{{item.isDone}}</td>
            <td><button class="btn" (click)="edit(item)">Edit</button></td>
            <td><button class="btn" (click)="delete(item)">Delete</button></td>
        </tr>
    </tbody>    
 </table>
 <button *ngIf="mode === 'DEFAULT'" class="btn" (click)="create()">
    Create new activity
</button> 
 <app-activities-edit *ngIf="mode === 'EDIT'" [activity]="selectActivity" (eventEmitter)="updateActivity($event)"></app-activities-edit>