<h1>LIST OF PRODUCTS</h1>
<div><input type="text" [formControl]="control"></div>
<table class="items">
   <thead>
       <tr>
           <th>Title</th>
           <th>Description</th>
           <th>Price</th>
           <th>Brand</th>
           <th>Category</th>
           <th>
               Edit product
           </th>
           <th>
               Delete product
           </th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor="let item of products">
           <td>{{item.title}}</td>
           <td>{{item.description}}</td>
           <td>{{item.price}}</td>
           <td>{{item.brand}}</td>
           <td>{{item.category}}</td>
           <td><button class="btn" (click)="edit(item)">Edit</button></td>
           <td><button class="btn" (click)="delete(item)">Delete</button></td>
       </tr>
   </tbody>    
</table>
<div><button class="btn" (click)="skipProductDown(page)">
    <
 </button>
 <label class="pagination">{{page}}</label>
 <button class="btn" (click)="skipProductUp(page)">
    >
 </button></div> 
<button class="btn" (click)="create()">
   Create new product
</button> 